@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

:root {
  --bg: #f1f5f9;
  --fg: black;
  --accent-1: navy;
  --accent-2: #ff9776;
  --accent-link: darkblue;
  --accent-link-visited: darkblue;
  --bg-2: #ccc;
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Ubuntu', sans-serif;
}

:root.dark {
  --bg: #282828;
  --fg: whitesmoke;
  --accent-1: lightblue;
  --accent-2: #ff9776;
  --accent-link: dodgerblue;
  --accent-link-visited: pink;
  --bg-2: #222;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: var(--accent-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--accent-link-visited)
}

main, #footer-container, nav .nav-links{
  width: 100%; max-width: 80ch;
  margin: auto;
}

main {
  flex-grow: 999;
  padding-inline: 0.5rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  background-color: var(--bg-2);
}


footer {
  padding: 1rem;
  background-color: var(--bg-2);
  text-align: center;
}
footer p {
  margin-top: 0;
}
footer .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/*Nav styles*/

nav #first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  flex-grow: 1
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: var(--accent-2);
  margin-bottom: 10px;
  margin-left: 10px;
}
.hamburger .line:first-of-type {
  margin-top: 10px;
}

.nav-links {
  display: none;
  margin: 0 auto;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-1);
}

.nav-links :is(a:hover, a:focus) {
  background-color: var(--accent-2);
}

.nav-links a:active {
  color: rgba(0, 0, 0, 0.6)
}

.expanded {
  display: unset;
}

@media screen and (min-width: 770px) {

  nav {
    display: grid;
    grid-template-columns: 1fr min(100%, 80ch) 1fr;
    align-items: center;
  }

  nav #first-section {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: start;
  }
  
  .nav-links {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    flex: 1;
    padding: 15px 20px;
  }

  nav #first-section {
    display: inline;
  }

  .hamburger {
    display: none;
  }
}


/*TAGS*/
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }

  .tag {
    margin: 0.25em;
    border: solid 1px #bbb;
    border-radius: 0.5em;
    font-size: 1.15em;
    background-color: white;
    color: #00539F;
  }
  .tag:hover {
    background-color: #00539F;
    color: white;
  }
  .tag a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%; height: 100%;
    padding: 0.5em 1em;
  }

