@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../../public/assets/fonts/Ubuntu-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

:root {
  --bg: #f1f5f9;
  --accent-1: navy;
  --accent-2: #ff9776;
  --bg-2: #ccc;
  background-color: var(--bg);
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main, #footer-container, nav {
  width: 100%; max-width: 80ch;
  margin: auto;
}

main {
  flex-grow: 999;
  padding-inline: 0.5rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  background-color: var(--bg-2);
}


footer {
  padding: 1rem;
  background-color: #ccc;
  text-align: center;
}
footer p {
  margin-top: 0;
}
footer .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/*Nav styles*/
.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: var(--accent-2);
  margin-bottom: 10px;
  margin-left: 10px;
}
.hamburger .line:first-of-type {
  margin-top: 10px;
}

.nav-links {
  display: none;
  margin: 0 auto;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-1);
}

.nav-links :is(a:hover, a:focus) {
  background-color: var(--accent-2);
}

.nav-links a:active {
  color: rgba(0, 0, 0, 0.6)
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    flex: 1;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
