---
import MainLayout from "../layouts/MainLayout.astro";
import PostLink from "../components/PostLink.astro";
const allPosts = await Astro.glob('./posts/*.md')
---

<MainLayout title="My astro learning blog">
  <p>This is where I will post about my journew learning Astro.</p>
  <ul>
    {allPosts.map( post => <li><PostLink post={post}/></li>)}
  </ul>
</MainLayout>
