---
import Social from "./Social.astro";
---

<footer>
  <div id="footer-container">
    <p>
    Learn more about my projects on
    </p>
    <div class="buttons">
      <Social platform="gitlab.com" username="anteloalejandro"/>
      <Social platform="github.com" username="anteloalejandro"/>
      <Social platform="youtube.com/channel" username="UC0c9JpJZOHyBMGNx3mIcnOQ"/>
    </div>
  </div>
</footer>
