---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div id="first-section">
      <Hamburger/>
      <ThemeIcon/>
    </div>
    <Navigation/>
  </nav>
</header>

<style>
</style>
