---
const {platform, username} = Astro.props
const str_platform = String(platform)
const slashIndex = str_platform.indexOf('/')
const domain = str_platform.slice(0, slashIndex === -1 ? str_platform.length : slashIndex)
---
<a href={`https://${platform}/${username}`}>{domain}</a>

<style>
  a {
    color: white;
    padding: 0.5rem 0.8rem;
    margin-inline: 0.2rem;
    background-color: #4c1d95;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    height: fit-content;
    transition: transform 50ms ease-in;
  }
  a:visited {
    color: white
  }
  a:hover {
    transform: scale(1.05);
  }
  a:active {
    transform: scale(0.95);
  }
</style>
